<launch>
  <!-- send kurt urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_gazebo)/kurt.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_kurt_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model kurt -z .6" respawn="false" output="screen" />
  <!--
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurt360.urdf.xacro'" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurtX.urdf.xacro'" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurt2_indoor.urdf.xacro'" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurtS300_indoor.urdf.xacro'" />
  -->

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_gazebo)/kurt.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_kurt_model" pkg="gazebo" type="spawn_model" args="$(optenv ROBOT_INITIAL_POSE) -urdf -param robot_description -model kurt" respawn="false" output="screen" />
</launch>
