<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro">

  <include filename="$(find uos_common_urdf)/urdf/sick_lms200.urdf.xacro" />

  <link name="laptop_structure">
    <visual>
      <geometry>
        <mesh filename="package://kurt_description/meshes/laptop_structure.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <!-- using STL for collision to fix http://answers.ros.org/question/2368/gazebo-model-wheels-slip-after-upgrade-to-electric -->
        <mesh filename="package://kurt_description/meshes/laptop_structure.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.0" />
      <origin xyz="-0.005401183 0.0 0.141356018" />
      <inertia ixx="0.022277280" ixy="-0.000000004" ixz="-0.001009999" 
        iyy="0.017783837" iyz="0.0" 
        izz="0.025523417" />
    </inertial>
  </link>

  <joint name="top_to_structure" type="fixed">
    <parent link="base_link" />
    <child link="laptop_structure" />
    <origin xyz="-0.05 0 0.03" rpy="0 0 0" />
  </joint>

  <joint name="structure_to_laser" type="fixed">
    <parent link="laptop_structure" />
    <child link="laser" />
    <origin xyz="0.195 0 0.08" rpy="0 0 0" />
  </joint>
</robot>
