<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro">

  <include filename="$(find kurt_description)/parts/sick_lms200.urdf.xacro" />

  <!-- a virtual link, directly above base_link in the center of the top;
       this is the root link of the top -->
  <link name="kurt_top" />

  <link name="laptop_structure">
    <visual>
      <geometry>
        <mesh filename="package://kurt_description/meshes/laptop_structure.dae" />
      </geometry>
    </visual>
  </link>

  <joint name="top_to_structure" type="fixed">
    <parent link="kurt_top" />
    <child link="laptop_structure" />
    <origin xyz="-0.05 0 0" rpy="0 0 0" />
  </joint>

  <joint name="structure_to_laser" type="fixed">
    <parent link="laptop_structure" />
    <child link="laser" />
    <origin xyz="0.195 0 0.08" rpy="0 0 0" />
  </joint>
</robot>
