<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro">

  <include filename="$(find kurt_description)/common.xacro" />

  <include filename="$(find kurt_base)/urdf/rotunit.urdf.xacro" />

  <link name="kurtX_top">
    <visual>
      <geometry>
        <box size=".36 .28 .08" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="silver" >
          <color rgba=".2 .2 .2 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size=".36 .28 .08" />
      </geometry>
    </collision>
  </link>

  <joint name="laser_top_joint" type="fixed">
    <child link="laser_rot_mount_link" />
    <parent link="kurtX_top" />
    <origin xyz="0 0 0.08" rpy="0 0 ${M_PI/2}" />
  </joint>

</robot>
