<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="kurt2">

  <include filename="$(find kurt_description)/bases/kurt_indoor.urdf.xacro" />
  <include filename="$(find kurt_description)/tops/kurtS300_top.urdf.xacro" />

  <joint name="top_base_joint" type="fixed">
    <parent link="base_link" />
    <child link="kurt2_top" />
  </joint>
</robot>
