<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="kurt360">

  <include filename="$(find kurt_base)/urdf/kurt_outdoor.urdf.xacro" />

  <include filename="$(find kurt_description)/tops/kurt360.urdf.xacro" />

  <joint name="top_base_joint" type="fixed">
    <child link="kurt360_top" />
    <parent link="base_link" />
    <origin xyz="0 0 0.1075" />
  </joint>

</robot>
