<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurt360.urdf.xacro'" />

  <node pkg="kurt_base" type="kurt_base" name="kurt_base">
    <param name="speedtable" value="$(find kurt_base)/speedtables/speed-pwm-leerlauf-osaka.dat" />
    <param name="use_rotunit" value="true" />
  </node>

  <node pkg="laser_assembler" type="laser_scan_assembler" name="laser_scan_assembler">
    <param name="max_scans" type="int" value="1000" />
    <param name="fixed_frame" type="string" value="laser_rot_mount_link" />
  </node>

  <node pkg="rotunit_snapshotter" type="rotunit_snapshotter" name="rotunit_snapshotter" />

  <node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms">
    <param name="frame_id" type="string" value="laser_rot_link" />
    <param name="port" value="/dev/ttyUSB0" />
    <param name="baud" value="500000" />
    <param name="resolution" value="1.0" />
  </node>

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="autorepeat_rate" value="10" />
  </node>

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" />

  <node pkg="kurt_teleop" type="kurt_teleop_cyborgevo" name="kurt_teleop_cyborgevo" />
</launch>
