<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/parts/rotunit.urdf.xacro'" />

  <node pkg="laser_assembler" type="laser_scan_assembler" name="laser_scan_assembler">
    <param name="max_scans" type="int" value="1000" />
    <param name="fixed_frame" type="string" value="laser_rot_mount_link" />
  </node>

  <node pkg="kurt_base" type="rotunit_snapshotter" name="rotunit_snapshotter" />

  <node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms">
    <param name="frame_id" type="string" value="laser_rot_link" />
    <param name="port" type="string" value="/dev/ttyUSB0" />
    <param name="baud" type="int" value="500000" />
    <param name="resolution" type="double" value="1.0" />
  </node>

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" />
  <node name="rotunit_state_publisher" pkg="kurt_base" type="state_publisher" />

</launch>
