<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurt360.urdf.xacro'" />

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" output="screen"/>

  <include file="$(find kurt_base)/launch/kurt_outdoor.launch" />
  <param name="kurt_base/use_rotunit" value="true" />

  <include file="$(find kurt_teleop)/launch/cyborgevo.launch" />

  <include file="$(find kurt_bringup)/launch/sick_lms200.launch" />

  <include file="$(find kurt_bringup)/launch/rotunit_filter_chain.launch" />
</launch>
