<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurtX.urdf.xacro'" />

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" />

  <include file="$(find kurt_base)/launch/kurt_outdoor.launch" />
  <param name="kurt_base/use_rotunit" value="true" />

  <include file="$(find kurt_teleop)/launch/cyborgevo.launch" />

  <include file="$(find kurt_bringup)/launch/sick_lms200.launch" />

  <node pkg="laser_assembler" type="laser_scan_assembler" name="laser_scan_assembler" output="screen" >
    <param name="max_scans" value="1000" />
    <param name="fixed_frame" value="/odom_combined" />
  </node>

  <node pkg="rotunit_snapshotter" type="rotunit_snapshotter" name="rotunit_snapshotter" output="screen" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_kinect_rgb"
    args="0 0 0.10 -1.57 0 -1.57 /kurt360_top /kinect_rgb 10" />
  <node pkg="tf" type="static_transform_publisher" name="kinect_rgb_to_kinect_depth"
    args="-0.03 0.0 0.0 0.0 0.0 0.0 /kinect_rgb /kinect_depth 10" />

  <include file="$(find kinect_camera)/launch/kinect_node.launch" />
</launch>
