<?xml version="1.0"?>
<launch>
  <arg name="use_phidgets_imu" default="false" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurt2_indoor.urdf.xacro'" />

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" />

  <include file="$(find kurt_base)/launch/kurt_indoor.launch" />

  <include file="$(find kurt_bringup)/launch/sick_lms200.launch" />

  <include file="$(find kurt_bringup)/launch/ekf.launch">
    <arg name="use_phidgets_imu" value="$(arg use_phidgets_imu)" />
  </include>
</launch>
