<?xml version="1.0"?>
<launch>
  <!-- TODO: remove this file when race_uos and kurtana_scanning is upgraded to Fuerte -->

  <!-- Q: Why is this file here?
       A: In Electric, there was no proper way to disable the TF publishing, so
       we copied this launch file here to change it. This is not necessary any
       more in Fuerte, so this file should be removed in the long run. All
       includes of this file should use the following 3 lines directly instead.
       -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="publish_tf" value="false" />
  </include>
</launch>
