<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/robots/kurt360.urdf.xacro'" />

  <node pkg="tf" type="static_transform_publisher" name="foot_to_odom"
    args="0 0 0 0 0 0 /odom_combined /base_footprint 10" />

  <node pkg="tf" type="static_transform_publisher" name="left_front_to_base"
    args="0 0 0 0 0 0 /base_link /left_front_wheel_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="left_middle_to_base"
    args="0 0 0 0 0 0 /base_link /left_middle_wheel_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="right_rear_to_base"
    args="0 0 0 0 0 0 /base_link /right_rear_wheel_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="right_front_to_base"
    args="0 0 0 0 0 0 /base_link /right_front_wheel_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="right_middle_to_base"
    args="0 0 0 0 0 0 /base_link /right_middle_wheel_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="left_rear_to_base"
    args="0 0 0 0 0 0 /base_link /left_rear_wheel_link 10" />

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" output="screen" />

  <node pkg="kurt_base" type="rotunit_state_publisher" name="rotunit_state_publisher" output="screen" />

  <include file="$(find kurt_bringup)/launch/sick_lms200.launch" />

  <include file="$(find kurt_bringup)/launch/rotunit_filter_chain.launch" />
</launch>
