<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt_description)/parts/rotunit.urdf.xacro'" />

  <node pkg="tf" type="static_transform_publisher" name="rot_to_base"
    args="0 0 0 0 0 0 /base_link /rotunit_box_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="base_to_odom"
    args="0 0 0 0 0 0 /odom_combined /base_link 10" />

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" output="screen" />

  <node pkg="kurt_base" type="kurt_base" name="kurt_base" output="screen" />
  <param name="kurt_base/use_rotunit" value="true" />

  <include file="$(find kurt_bringup)/launch/sick_lms200.launch" />

  <include file="$(find kurt_bringup)/launch/rotunit_filter_chain.launch" />
</launch>
